.announcement {
    display: block;
    background-color: #27273e;
    margin-bottom: 57px;
    box-sizing: border-box;
    width: 100%;
    background-image: url(../../img/banner/pattern.png);
    background-repeat: round;
 }                                                                                                                            

strong {
        color: #ec1e79;
        font-weight: bold;
    }
.announcement__text {
    padding: 50px;
    font-family: "gothampro";
    font-size: 18px;
    color: #ffffff;
    vertical-align: middle;
    font-weight: 300;
    width: 700px;
    margin: 0 auto;
    line-height: 30px;
}
